<b>Name:</b>
<p><%= @pizza.pretty_name() %></p>
<b>Order:</b>
<p><%= @pizza.quantity %> x <%= @pizza.topping %></p>

<a href="/pizza/<%= @pizza.id %>/edit">Edit</a>

<form action="/pizza/<%= @pizza.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>